{% extends 'base.html' %}
{% block title %} Search Results {% endblock title %}
{% block css %}
    body{
      background-color : #FDF2E9  ;
        font-family: 'Karla', sans-serif;
      }
{% endblock css %}

{% block activeSearch %} active {% endblock activeSearch %}

{% block body %}
    <div class="container">
        <hr>
        <h3>Search Results : </h3>
        {% if allpost|length < 1 %}
            <p>Your search - <b>'{{ query }}'</b> - did not match any documents.</p>
            <p>Suggestions:</p>
            <ul>
                <li>Make sure that all words are spelled correctly.</li>
                <li>Try different keywords.</li>
                <li>Try more general keywords.</li>
            </ul>
        {% endif %}
            {% for post in allpost %}
            <div class="row mb-2 my-4">
            <div class="col-md-12">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">Article by {{ post.author }}</strong>
                  <h3 class="mb-0">{{ post.title }}</h3>
                  <div class="mb-1 text-muted">{{ post.datetime }}</div>
                  <p class="card-text mb-auto">{{ post.content | safe | truncatechars:500 }}</p>
                  <div class="my-3">
                    <a href="/blog/{{ post.slug }}" role="button" class="btn btn-primary">Continue reading</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock body %}