<!DOCTYPE html>
<html>
<head>
	<title>Project Report</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
		
		.btn-danger{
		background-color: #ffae19;
		border-color: #e59400;
	}
	</style>

</head>
<body>

	<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Centre name</th>
      <th scope="col">Location</th>
      <th scope="col">Pin</th>
      <th scope="col">Phone no</th>
      <th scope="col">Phone no</th>
    </tr>
  </thead>
  <tbody>
    {% for i in centres %}
    <tr scope="row">
      <td>
      	{{i.id}}
      </td>
      <td>
      	{{i.name}}
      </td>

      <td>
      	{{i.address}}
      </td>
      
      <td>
      	{{i.pin}}
      </td>
       <td>
        {{i.phone}}
      </td>
      <td>
      	<a href="{% url 'chooseClothCentre' i.id no.no %}">Select</a>
      		
      </td>

    {% endfor %}
    
  </tbody>
</table>